.navbar {
  color: #000;
  background-color: white;
  padding: 35px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicionado: Sombra abaixo da barra de navegação */
  font-family: Roboto, sans-serif;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 1.5rem;
}

.navbar-menu {
  display: flex;
  gap: 20px;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #9c36fc;
  transition: width 0.2s;
}

.navbar-menu a {
  color: #000;
  text-decoration: none;
  font-size: 1.3rem;
  transition: opacity 0.3s;
  cursor: pointer;
  position: relative;
}

.navbar-menu a:hover {
  color: #9c36fc;
  transition: 0.3s;
}

.navbar-menu a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #9c36fc;
  position: absolute;
  bottom: -2px;
  left: 0; /* Modificado: Definimos a posição inicial como a esquerda */
  transform: scaleX(0); /* Adicionado: Inicialmente, o sublinhado não terá largura */
  transform-origin: left center; /* Adicionado: Define a origem da transformação */
  transition: transform 0.3s;
}

.navbar-menu a:hover::after {
  width: 100%; /* Sublinhado expande */
  transform: scaleX(1); /* Sublinhado se estende da esquerda para a direita */
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.navbar-toggle .bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px auto;
  transition: transform 0.2s, opacity 0.2s;
}

.navbar-toggle.active .bar {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .navbar {
    color: #000;
    background-color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicionado: Sombra abaixo da barra de navegação */
    font-family: Roboto, sans-serif;
  }
}