.navbar {
  color: #000;
  background-color: white;
  padding: 35px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Roboto, sans-serif;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 1.5rem;
}

.navbar-menu {
  display: flex;
  gap: 20px;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #9c36fc;
  transition: width 0.2s;
}

.navbar-menu a {
  color: #000;
  text-decoration: none;
  font-size: 1.3rem;
  transition: opacity 0.3s;
  cursor: pointer;
  position: relative;
}

.navbar-menu a:hover {
  color: #9c36fc;
  transition: 0.3s;
}

.navbar-menu a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #9c36fc;
  position: absolute;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s;
}

.navbar-menu a:hover::after {
  width: 100%;
  transform: scaleX(1);
}

.navbar-toggle {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .navbar {
    color: #000;
    background-color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Roboto, sans-serif;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    z-index: 1;
    text-align: center;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-menu a {
    font-size: 1.5rem;
    margin: 10px 0;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-toggle.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
}
