.portfolio {
  padding: 50px 400px;
}

@media screen and (max-width: 1200px) {
  .portfolio {
    padding: 50px 200px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 50px 100px;
  }
}

@media screen and (max-width: 576px) {
  .portfolio {
    padding: 50px 20px;
  }
}

.title {
  font-size: 50px;
}

.subtitle {
  font-size: 30px;
  opacity: 80%;
}

.description {
  font-size: 18px;
  margin-top: 5px;
  opacity: 85%;
  width: 85%;
}

.cards {
  display: flex;
}

.projects {
  margin-top: 10vh;
}

.project {
  width: 35vh;
  height: 20vh;
  margin-right: 20px;
  border: 1px solid rgb(46, 46, 46);
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  transition: transform 0.3s;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 150px 150px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.project:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.project:hover .project-overlay {
  opacity: 1;
}

.project-name {
  font-size: 1.2em;
}

.social-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.social-button {
  color: #fff;
  border: none;
  border-radius: 5%;
  padding: 8px 18px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s;
  border: 1px solid gray;
}

.social-button:hover {
  transform: scale(1.1);
}

.twitter {
  color: #007bff;
}

.linkedin {
  color: #084d6e;
}

.github {
  color: #492285;
}

.youtube {
  color: #FF0000;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
}
